{% extends "register/base.html"%}
{% load crispy_forms_tags %}
{% block content %}


	<h1>Personal Page </h1>
	<p> Username: {{  user.username }}</p>
    <p> First Name: {{ user.first_name }}</p>
    <p> Last Name: {{ user.last_name }}</p>
    <p> Email: {{ user.email }}</p>
	
	<table class="table table-bordered">
		<thead>
		  <tr>
			<th scope="col">Your Courses</th>
		  </tr>
		</thead>
		<tbody>
			
			{% for course in enrolled %}
			<tr>
				<form method='POST' action="">
					{% csrf_token %}
					<td> {{ course }}  {{ course.id }}<input type="submit" value="DROP" /> </td>
				</form>
		
		 	</tr>

			{% endfor %}
		</tbody>
	</table>



{% endblock content %}