{% extends "register/base.html"%}
{% load crispy_forms_tags %}
{% block content %}


	<h1>Personal Page </h1>
	<p> Username: {{  user.username }}</p>
    <p> First Name: {{ user.first_name }}</p>
    <p> Last Name: {{ user.last_name }}</p>
    <p> Email: {{ user.email }}</p>
	{% if user.profile.Teacher_or_Student == 'teacher' %}
		<p> Resume: <a href="../media/{{user.profile.file}}/">View</a></p>
	{% else %}
		<p><a href="../media/{{user.profile.file}}/">View Transcript  </a>
			<button type="button" class="btn btn-primary">Graduation</button>
		</p>
	{% endif %}
	<table class="table table-bordered">
		<thead>
		  <tr>
			<th scope="col">Your Courses</th>
			<th scope="col">Drop Course</th>
		  </tr>
		</thead>
		<tbody>

			{% if len|length >= 3 %}
			<div class="alert alert-info alert-dismissible fade show">
				<strong>Info!</strong> You are registered as full time.
			</div>
			{% else %}
			<div class="alert alert-warning alert-dismissible fade show">
				<strong>Warning!</strong> You are registered for less than 3 classes.
			</div>
			{% endif %}
	
			
			{% for course, obj in zipping %}
			<tr>
				<td> {{ course }} </td>
				<td>
					<form action="{% url 'delete_view' pk=obj %}" method="POST">
						{% csrf_token %}
						<input class="btn btn-default btn-danger" type="submit" value="Delete"/>
					</form>
					  
			</td>
				<!--
				<form method='POST' action="">
					{% csrf_token %}
					
				</form>
				-->
		 	</tr>

			{% endfor %}
		</tbody>
	</table>



{% endblock content %}