{% extends "register/base.html"%}
{% block content %}

	<div class="container"></div>
		<h1>Student Center</h1>

		{% for class in classes %}
			<h3> {{ class.course_name }}</h3>
			<p> {{ class.course_id }} </p>
			<p> {{ class.instructor }} </p>
			<p> {{ class.day }} {{ class.time }}</p>
			<p> {{ class.location }} </p>
		{% endfor %}
	</div>

{% endblock content %}




<!--

classes = [

 {
 	'course_name' : 'Software Engineering',
 	'course_id' : 'CSC 32200'
 	'instructor' : 'Jie Wei',
 	'day' : 'TuThu', 
 	'time' : '12:00 - 14:15',
 	'location' : 'online synchronous',
 }

-->